.beachBanner {
    width: 100%;
    height: 500px;
    background-image: url(../project-1-beach-stay/beach-final-images/banner-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}